<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="type/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
        <div class="btn-group">
            <ul>
                <li><a href = "{{url_for('index')}}"> Main page</a></li>
                <li><a href = "{{url_for('extract')}}"> extract opinions</a></li>
                <li><a href = "{{url_for('products')}}"> List of products</a></li>
                <li><a href = "{{url_for('author')}}"> About author</a></li>
            </ul>
        </div>
    </header>
    <section>
        {% block content %}
            <p>This is base file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Sangheon Park, Krakow University of Economics</p>
    </footer>
</body>
</html>