<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="type/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
        <div class="btn-group">
            <nav>
                <li><a href = "{{url_for('index')}}"> Main page</a></li>
                <li><a href = "{{url_for('extract')}}"> extract</a></li>
                <li><a href = "{{url_for('products')}}"> products</a></li>
                <li><a href = "{{url_for('author')}}"> author</a></li>
            </nav>
        </div>
        <!-- <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Main page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('extract')}}">extract</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('products')}}">products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('author')}}">author</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
<!--      
            <button type="button" class="btn btn-primary" onclick="location.href={{url_for('index')}}>index</button>
            <button type="button" class="btn btn-primary" onclick="location.href={{url_for('extract')}}>extract</button>
            <button type="button" class="btn btn-primary" onclick="location.href='products' ">products</button>
            <button type="button" class="btn btn-primary" onclick="location.href='author' ">author</button> 
-->
    </header>
    <section>
        {% block content %}
            <p>This is base file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Sangheon Park, Krakow University of Economics</p>
    </footer>
</body>
</html>