{% extends "base.html" %}
{% block content %}
    <p>This is {{product_id}} file</p>
    <div class="card-footer">
        <a type = "button" class="btn btn-outline-dark" href="{{url_for('download_json', product_id = product_id)}}">json</a>
        <a type = "button" class="btn btn-outline-dark" href="{{url_for('download_csv', product_id = product_id)}}">csv</a>
        <a type = "button" class="btn btn-outline-dark" href="{{url_for('download_xlsx', product_id = product_id)}}">xlsx</a>
        <a type = "button" class="btn btn-outline-dark" href="{{url_for('charts', product_id = product_id)}}">Charts</a>
    </div>
    <p> This is {{product_id}} product charts file</p>
    
    {{opinions|safe}}
{% endblock %}

{% block scripts %}
<script>
    let table = new DataTable('#opinions', {
    responsive: true
});
</script>
{% endblock %}