{% extends "base.html" %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-header"><a href="{{url_for('product', product_id=product.product_id)}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{product.product_name}}</a>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Product_ID : {{product.product_id}}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('download_json', product_id = product.product_id)}}" class="card-link">json</a>
                    <a href="{{url_for('download_csv', product_id = product.product_id)}}" class="card-link">csv</a>
                    <a href="{{url_for('download_xlsx', product_id = product.product_id)}}" class="card-link">xlsx</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}